<h2><i class="uil uil-graduation-cap"></i> Enseignement</h2>
<hr />
<div class="container">
  {% for school in site.data.enseignement %}
  <div class="line">
    <div class="year">
      <p><strong>{{school.date}}</strong></p>
    </div>
    <div class="vertical-line"></div>
    <div class="info">
      <div class="inline">
        <div class="title">
          <h4>{{school.name}}</h4>
        </div>
        <p class="location">
          <i class="uil uil-location-point"></i>{{school.location}}
        </p>
      </div>
      <p><i>{{school.corp}}</i></p>
      <p>{{school.description}}</p>
    </div>
  </div>
  {% endfor %}
</div>
