<h2>
	<i class="uil uil-code-branch"></i>Languages de programmation <span class="title-note">et de balisage</span>
</h2>
<hr/>
<div class="container">
  <ul class="language-list">
    {% for language in site.data.languages %}
      <li>
        <i class="devicon-{{language.logo-name}}-plain colored"></i>
        {% if language.logo-name2 != nil %}
          <i class="devicon-{{language.logo-name2}}-plain colored"></i>
        {% endif %}
        <strong>{{ language.name }}</strong>
        <i>{{ language.level }}</i>
      </li>
    {% endfor %}
  </ul>
</div>
