<div class="line">
  <div class="year">
    <p>
      <strong>{{ include.date }}</strong>
    </p>
    {% if include.img != nil %}
      <img src="{{ include.img }}" alt="logo">
    {% endif %}
  </div>
  <div class="vertical-line"></div>
  <div class="info">
    <div class="inline">
      <div class="title">
        <h4>{{ include.name }}</h4>
      </div>
      <p class="location">
        <i class="uil uil-location-point"></i>
        {{ include.location }}</p>
    </div>
    <p>
      <i>{{ include.corp }}</i>
    </p>
    <p>{{ include.description }}</p>
  </div>
</div>