---
#test
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/A4.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/fonts/stylesheet.css" />

    <title>CV</title>
  </head>
  <body>
    <main>
      {% include sections/header.html %} {% include sections/aside.html %} {%
      include sections/section.html %}
    </main>
  </body>
</html>
