---
#test
---

<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta name="robots" content="noindex" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/A4.css" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="assets/css/bulletPoint.css" />
    <link rel="stylesheet" href="assets/css/" />
    <link rel="stylesheet" href="assets/fonts/stylesheet.css" />
    <!-- ======================== UNICONS ======================== -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/7.2.3/css/flag-icons.min.css"
    />

    <title>CV</title>
  </head>
  <body>
    <main>
      {% include sections/header.html %} {% include sections/aside.html %} {%
      include sections/section.html %}
    </main>
  </body>
</html>
