<aside>
  <div class="photo-container">
    <img id="photoCV" src="assets/img/photoCV.png" alt="Photo CV" />
  </div>
  <h3 class="aside-title"><span>A propos de moi</span></h3>
  {% include texts/intro.html %}
  <h3 class="aside-title"><span>Contact</span></h3>
  {% include texts/contact.html %}
  <h3 class="aside-title"><span>Langues</span></h3>
  <h3 class="aside-title"><span>Site internet</span></h3>
  <h3 class="aside-title"><span>Soft Skills & Forces</span></h3>
  <h3 class="aside-title"><span>Compétences</span></h3>

  
  



</aside>

<style>
  aside {
    background-color: #cdd6d8;
    padding: 15px;
  }
  
  aside > p {
    text-align: justify;
  }

  #photoCV {
    height: 180px;
    object-fit: contain;
    border-radius: 50%;
    margin-top: 10px;
  }

  .photo-container {
    display: flex;
    flex-direction: column;
  }

  .aside-title {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
  }

  .aside-title span {
    background: #cdd6d8;
    padding: 0 10px;
  }
</style>
