body {
  background: rgb(204, 204, 204);
  margin: 0;
}

main {
  background: white;
  display: block;
  margin: 0.5cm auto;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
  width: min(21cm, 100vw);
  height: calc(29.7/21*min(21cm, 100vw));
}

@media print {
  body,
  page,
  main {
    margin: 0;
    box-shadow: none;
    background: white;
  }
}
