aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #cdd6d8;
  padding: var(--padding-section);
  font-size: var(--font-size-small);
}

aside > * {
  margin: var(--margin-block) 0 calc(2 * var(--margin-block));
}
aside > p {
  text-align: justify;
  hyphens: auto;
}

aside .uil,
aside .fi {
  margin-right: var(--margin-inline);
}

aside a:visited,
aside a {
  color: inherit;
  text-decoration: none;
}

#photoCV {
  height: calc(5 * var(--font-size-base));
  object-fit: contain;
  border-radius: 50%;
  margin: var(--margin-block) auto;
}

.photo-container {
  display: flex;
  flex-direction: column;
}

aside h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  font-weight: bold;
  font-size: var(--font-size-medium);
}

aside h3 span {
  background: #cdd6d8;
  padding: 0 var(--padding-inline);
}
