aside {
  background-color: #cdd6d8;
  padding: var(--padding-section);
  font-size: var(--font-size-small);
}

aside > p {
  text-align: justify;
  hyphens: auto;
  margin: var(--margin-block) 0;
}

aside .uil,
aside .fi {
  margin-right: var(--margin-inline);
}

aside a:visited,
aside a {
  color: inherit;
  text-decoration: none;
}

#photoCV {
  height: 180px;
  object-fit: contain;
  border-radius: 50%;
  margin: var(--margin-block) auto;
}

.photo-container {
  display: flex;
  flex-direction: column;
  padding: var(--padding-block) 0;
}

aside h3 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: var(--margin-block) 0 var(--margin-lg);
  font-weight: bold;
  font-size: var(--font-size-medium);
  margin-top: var(--margin-lg);
}

aside h3 span {
  background: #cdd6d8;
  padding: 0 var(--padding-inline);
}
