.bullet-points {
  text-align: center;
  word-spacing: -3px;
  letter-spacing: -3px;
}

.bullet {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.2rem;
  padding: 0 0.1rem;
  margin: 0.1rem;
  line-height: var(--font-size-base);
  word-spacing: normal;
  letter-spacing: normal;
  white-space: nowrap;
}

ul.bulletPoint {
  list-style-type: none;
  padding-left: var(--padding-inline);
  margin: var(--margin-block) 0;
}

ul.bulletPoint li {
  position: relative;
  padding-left: var(--padding-lg);
  margin-bottom: var(--margin-xs);
}

ul.bulletPoint li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #000;
}
