
footer{
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: var(--padding-section);
  background-color: #243d45;
  color: #fafafa;
}

footer h2 {
  text-align: center;
}

footer h2 .title-note{
  font-size: var(--font-size-xxs);
}

footer hr {
  width: 80%;
}

/* Languages de programmation */
footer .language-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  font-size: var(--font-size-small);
  gap: var(--spacing-sm);
  margin-top: var(--margin-block);
}

footer .language-list i {
  font-size: var(--font-size-xs);
}
