header {
  padding: 0px;
  margin: 0;
  height: 100px;
  width: 100%;
  background-color: #243d45;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-column: span 2;
}

main {
  padding: 0;
  font-family: "Utopia", Arial, sans-serif;
  display: grid;
  grid-template-columns: 1.1fr 2fr;
  grid-template-rows: 100px auto;
}

header h1,
header h2,
header h3,
header h4 {
  font-weight: normal;
  margin: 0;
}
