header {
  padding: var(--padding-section);
  margin: 0;
  width: 100%;
  background-color: #243d45;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  grid-column: span 2;
  box-sizing: border-box;
}

header h1,
header h2,
header h3,
header h4 {
  font-weight: normal;
  margin: 0;
  padding: var(--padding-xs) 0;
}
