:root {
  --font-size-base: 1rem;
  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --font-size-small: 0.875rem;
  --font-size-xs: 0.7rem;
  --font-size-xxs: 0.6rem;

  --spacing-xs: 0.125rem; /* 2px */
  --spacing-sm: 0.25rem; /* 4px */
  --spacing-md: 0.5rem; /* 8px */
  --spacing-lg: 0.75rem; /* 12px */
  --spacing-xl: 1rem; /* 16px */
  --spacing-xxl: 1.5rem; /* 24px */

  --margin-section: 0.75rem;
  --margin-block: 0.35rem;
  --margin-inline: 0.25rem;

  --padding-section: 0.75rem;
  --padding-block: 0.35rem;
  --padding-inline: 0.25rem;
  --padding-container: 0.5rem;

  --header-height: 100px;
  --footer-height: 200px;
}

@media screen and (max-width: 21cm) {
  :root {
    --font-size-base: 0.875rem;
    --font-size-h1: 1.5rem;
    --font-size-h2: 1.25rem;
    --font-size-h3: 1.125rem;
    --font-size-small: 0.75rem;
    --font-size-xs: 0.65rem;
    --font-size-xxs: 0.5rem;

    --spacing-xs: 0.0625rem; /* 1px */
    --spacing-sm: 0.125rem; /* 2px */
    --spacing-md: 0.25rem; /* 4px */
    --spacing-lg: 0.375rem; /* 6px */
    --spacing-xl: 0.5rem; /* 8px */
    --spacing-xxl: 0.75rem; /* 12px */

    --margin-section: 0.5rem;
    --margin-block: 0.25rem;
    --margin-inline: 0.125rem;

    --padding-section: 0.5rem;
    --padding-block: 0.25rem;
    --padding-inline: 0.125rem;
    --padding-container: 0.375rem;

    --header-height: 90px;
    --footer-height: 180px;
  }
}

@media screen and (max-width: 680px) {
  :root {
    --font-size-base: 0.75rem;
    --font-size-h1: 1.25rem;
    --font-size-h2: 1.125rem;
    --font-size-h3: 1.0625rem;
    --font-size-small: 0.575rem;
    --font-size-xs: 0.475rem;
    --font-size-xxs: 0.38rem;


    --header-height: 70px;
    --footer-height: 140px;
  }
  
  main {
    height:100%;
  }

}

@media screen and (max-width: 550px) {
  :root {
    --font-size-base: 0.625rem;
    --font-size-h1: 1.0625rem;
    --font-size-h2: 0.9375rem;
    --font-size-h3: 0.875rem;
    --font-size-small: 0.45rem;
    --font-size-xs: 0.425252525252525252525252525252525252525252525252525: 0.35rem;

    --header-height: 60px;
    --footer-height: 120px;
  }
}

@media screen and (((max-width: 470px) and (max-height:700px)) or ((max-width: 680px) and (max-height: 650px))) {
  :root {
    --font-size-base: 0.45rem;
    --font-size-h1: 0.8rem;
    --font-size-h2: 0.7rem;
    --font-size-h3: 0.6rem;
    --font-size-small: 0.3rem;
    --font-size-xs: 0.275rem;
    --font-size-xxs: 0.25rem;

    --header-height: 50px;
    --footer-height: 100px;
  }
}

body {
  font-size: var(--font-size-base);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--font-size-h1);
  margin: var(--margin-block) 0;
}

h2 {
  font-size: var(--font-size-h2);
  margin: var(--margin-block) 0;
}

h3 {
  font-size: var(--font-size-h3);
  margin: var(--margin-block) 0;
}

.small-text {
  font-size: var(--font-size-small);
}
