section.main {
  padding: var(--padding-section);
}

section.main h2 {
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: var(--margin-block);
}

section.main > .container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

section.main .line {
  display: grid;
  margin-bottom: var(--margin-block);
  grid-template-columns: 1fr min-content 3fr;
}

section.main .vertical-line {
  border-left: 1px solid black;
  margin: 0 var(--margin-inline);
}

section.main .info .inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--spacing-sm);
}

section.main .location {
  text-wrap: nowrap;
  margin-left: var(--margin-inline);
}

section.main .year {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--padding-inline);
}

section.main .info,
section.main .year {
  padding: 0 var(--padding-inline);
}

section.main .year img {
  max-height: 2rem;
  max-width: 100%;
  margin: var(--margin-xs) 0;
}

section.main p {
  font-size: var(--font-size-small);
  margin: 0;
  padding: var(--padding-xs) 0;
}

section.main h4 {
  text-wrap: wrap;
  margin: 0;
  margin-right: var(--margin-inline);
}

