main {
  padding: 0;
  font-family: "Utopia", Arial, sans-serif;
  display: grid;
  grid-template-columns: 1.1fr 2fr;
  grid-template-rows: 100px auto 250px;
  overflow: hidden;
}

.center {
  text-align: center;
}
